# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-functions-durable
# NOTE: Use 1.99.7 or later to avoid https://github.com/openai/openai-python/issues/2541
openai>=1.99.7
openai-agents
